build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
node_modules/

**/.cache/*
.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
local.properties
**/src/main/generated
.architectury-transformer
.kotlin
*/.kotlin
